@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: #ebebeb;
    color: #2c3639;
}

.container {
    user-select: none;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 4em;
    font-weight: 900;
    margin: 0.2em 0;
}

form {
    max-width: 500px;
    /* width: 350px; */
    margin: 1em auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    color: #525050;
    /* gap: 1.5em; */
}

/* input[type='text'], */
/* input[type='date'], */
/* input[type='password'], */
/* input[type='email'], */
select {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    background: #ffffff;
    border: 1px solid black;
    outline: none;
    margin: 10px 0;
    color: #525050;
}

/* input[type='password']:focus, */
/* input[type='text']:focus, */
/* input[type='date']:focus, */
/* input[type='email']:focus, */
select:focus {
    border-color: #013284;
}

select {
    cursor: pointer;
}

.radio-group {
    margin: 0.5em 0;
    font-size: 1em;
}

.radio-group > label {
    display: flex;
    gap: 0.5em;
}

.radio-group > label,
.radio-group > label > input {
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
    accent-color: #f73d93;
}

form > div {
    margin: 8px 0px !important;
}

form > div > label {
    font-weight: bold;
}

form > label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    width: fit-content;
    margin: 1em 0;
}

form > button {
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: #f73d93;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.2s ease;
}

form > button:hover {
    opacity: 0.8;
}

form > button:active {
    transform: scale(0.98);
}

.error {
    color: #ca2c46;
    font-weight: bold;
    display: block;
    text-align: right;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
/* button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.general-font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.container-appbar {
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.gray-background {
    background: #ebebeb;
    color: #2c3639;
}

/* TODO: CHANGE GRAY BUTTON TO BLUE BUTTON */
.blue-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
    font-weight: 400;
    font-family: inherit;
    background-color: #013284;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ebebeb;
}

.blue-button:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

.green-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
    font-weight: 400;
    font-family: inherit;
    background-color: #95c11f;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ebebeb;
}

.green-button:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

.swal-container {
    z-index: 2000 !important;
}

/* LOGIN CSS - PAGE */

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 2px 10px 1px rgba(34, 34, 34, 0.2);
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 500px;
    height: 600px;
    margin: auto;
    background: white;
}

.container-login-forget-password {
    transition: color 0.3s ease;
}

.container-login-forget-password:hover {
    color: #646cff;
}

/* END LOGIN CSS - PAGE */

/* FARMS CSS - PAGE */

.actions-list-farms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    margin: 1px 0px;
}

.actions-farms {
    display: flex;
    justify-content: space-between;
}

.container-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 2px 10px 1px rgba(34, 34, 34, 0.2);
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 100%;
    background: #ffffff;
    /* margin: auto; */
}

.title-farms {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0.2em 0;
}

.dropdown {
    position: relative;
}

.menu {
    position: absolute;

    list-style-type: none;
    margin: 5px 0;
    padding: 0;

    border: 1px solid transparent;
    width: 100%;
}

.menu > li {
    border-radius: 8px;
    background-color: #95c11f;
    color: #ebebeb;
    margin: 2px 0px;
}

.menu > li:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

.menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;

    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

/* END FARMS CSS - PAGE */

.text-field-search input[type='text'] {
    border: none !important;
}

.MuiFormLabel-root.MuiInputLabel-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.MuiFormHelperText-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}
/* Styles to tables configuration diets */
.custom-text-field-height .MuiInputBase-input{
    height: 2px;
}

.custom-table-padding {
    padding: 6px !important;
    background-color: rgb(230, 230, 230);
}
/* ---------------------------------------- */

/* LOADINGSSSSS  */
.lazy-loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .loading-circle {
    border: 8px solid #fff;
    border-top: 8px solid #013284;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-dots-wrapper {
    display: inline-block;
    text-align: center;
    margin: 0;
    font-weight: 900;
  }
  
  .loading-dots {
    animation: blink 1s ease-in-out infinite;
  }
  
  .loading-dot-1 {
    animation-delay: 0ms;
  }
  
  .loading-dot-2 {
    animation-delay: 250ms;
  }
  
  .loading-dot-3 {
    animation-delay: 500ms;
  }
  
  @keyframes blink {
    50% {
      opacity: 0.5;
    }
  }
  
  /* -------------------------- END LOADINGS CSS */


/* Styles to scrollbar to modals */
.custom-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
    /* &::-webkit-scrollbar {
      background-color: #013284;
    } */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #013284;
    border-radius: 10px;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #95c11f;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    z-index: 999;
}

.scroll-arrow.show {
    opacity: 1;
}

/* ---------------------------------------- */
